In [2]:
from collections import OrderedDict
from sqlite3 import DateFromTicks

#from zmq import VERSION_PATCH
import dash
#import dash_core_components as dcc
from dash import dcc
#import dash_html_components as html
from dash import html
from dash.dependencies import Input, Output, State, ClientsideFunction
#import dash_core_components as dcc
from dash import dcc
import plotly.express as px
import plotly.graph_objects as go
import  plotly as py
import pandas as pd
import sys
import numpy as np
import os
import geopandas as gpd
#import pandas as pd
#from dask import dataframe as dd
import plotly.express as px
import  plotly as py
from plotly.subplots import make_subplots
import os
from pyproj import Transformer
from shapely.geometry import Point
import math
import random
from datetime import datetime, date, timedelta, time
import queue
import threading
import time
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from flask_caching import Cache
import numbers

import matplotlib.pyplot as plt
from plotly.tools import mpl_to_plotly

path = os.path.join('..', 'ABM-simulator', 'SimulationEngine', 'output', '0308', 'run-no-intervention')

In [3]:
min_step=0
max_step=700

columns_being_used_in_heatmap=[
    'step',
    'x',
    'y',
    'z',
    'zip',
]
filters_settting=[('step','>=', min_step), ('step', '<=', max_step)]

pdf = pd.read_parquet(os.path.join(path, 'heatmap.snappy.parquet'),
                    filters=filters_settting,
                    columns=columns_being_used_in_heatmap,
)
pdf
riskzips_df=pdf.groupby(['step', 'zip']).sum()
riskzips_df

                        x              y      z
step zip
20   33510     -82.287476      27.938788      1
21   33510     -82.287476      27.938788      1
22   33510     -82.287476      27.938788      1
23   33510     -82.287476      27.938788      1
24   33510     -82.321119      27.969784      1
...                   ...            ...    ...
698  33647 -622614.179135  212773.663311  47319
699  33510 -252080.373313   85628.479178  17186
     33647 -621544.908377  212407.116578  46557
700  33510 -240806.808223   81797.942306  16692
     33647 -603018.572656  206075.524100  45158

[1355 rows x 3 columns]